body {
    margin: 0 !important;;
    padding: 0 !important;;
    font-size: 14px !important;;
  }

  #calendario_top,
  #calendar.fc-unthemed {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif !important;;
  }

  #calendario_top {
    background: #eee !important;;
    border-bottom: 1px solid #ddd !important;; 
    padding: 0 10px !important;;
    line-height: 40px !important;;
    font-size: 12px !important;;
    color: #000 !important;;
  }

  #calendario_top .selector {
    display: inline-block !important;;
    margin-right: 10px !important;;
  }

  #calendario_top select {
    font: inherit !important;; /* mock what Boostrap does, don't compete  */
  }

  .calendario_left { float: left !important; }
  .calendario_right { float: right !important; }
  .calendario_clear { clear: both !important; }

  #calendar {
    max-width: 900px !important;;
    margin: 40px auto !important;;
    padding: 0 10px !important;;
  }