/.metadata
/com.totvs.tds.ecm.dataservers
/.recommenders
/mgw-poc-read-excel
/Fluig-Project-Widgets/.settings/org.eclipse.wst.jsdt.ui.superType.name
/Fluig-Project-Widgets/.settings/org.eclipse.wst.jsdt.ui.superType.container
